@import 'base';

header {
    display: flex;
    justify-content: center;
    
    background-image: linear-gradient( to right, var(--background) 40%, var(--main-background) 25% );
    
    nav {
        display: flex;
        align-items: center;;
        padding: 1.6rem;
        width: 95%;
        justify-content: space-around;

        ul {
            display: flex;
            align-items: center;

             li {
                 list-style: none;
                 text-transform: uppercase; 
                 margin-right: 5rem;
                 padding: 2rem;
                
                 &:last-child {
                     margin: 0;
                 }

                 a {
                    text-decoration: none;
                    color: var(--text);
                    font-weight: 700;
                    padding: .5rem;

                    &:hover {
                        border-bottom: 1px solid black;
                    }
                 
                 }

                 .input-pesquisar {
                    align-items: center;
                    padding-left: 4rem;
                    width: 22rem;
                    height: 4rem;
                    background: url(/assets/icon-search.svg);
                    background-size: 2rem;
                    background-repeat: no-repeat;
                    background-position-x: start;
                    background-position-y: center;
                    background-color: white;
                    background-position: 1rem;
                    border: none;

                     &:focus {
                         outline: none;
                     }
                 }
             }
        }
        
        .logo, .bag {
            cursor: pointer;
        }
    }
}

section {
    display: flex;
    main {
        width: 40%;

        .buy-product {
            text-align: start;
            display: inline-grid;
            width: 35.7rem;
            position: absolute;
            top: 20%;
            left: 10%;

            h1 {
                font-size: 6rem;
                font-weight: 700;
                margin-bottom: 2rem;
            }

            p {
                color: var(--text-description);
                margin-bottom: 3rem;
            }

            strong {
                font-size: 4rem;
                font-weight: 700;
                margin-bottom: 3rem;
            }

            button {
                width: 27.4rem;
                height: 9rem;
                background: var(--button);
                color: white;
                font-size: 2.4rem;
                font-weight: 700;
                border: none;
                cursor: pointer;

                transition: filter 0.2s;

                &:hover {
                    filter: brightness(0.9);
                }
            }
        }
    }
    .product-images {
        background: var(--main-background);
        width: 60%;
        height: 100vh;

        .picture-1 {
           width: 47.9rem;
           position: absolute;
           top: 20%;
           left: 55%;
        }
       
        .more-images {
            display: flex;
            justify-content: space-around;
            position: relative;
            top: 60%;

            .picture-2, .picture-3, .picture-4 {
                width: 26.5rem;
            }
        }
        
    }
}

footer {
    display: flex;
    height: 16.66rem;
    .img-video {
        width: 25rem;
        height: 100%;
    }

    ul {
        display: flex;
        align-items: center;

         li {
            list-style: none;
            text-transform: uppercase; 
            margin-right: 5rem;
            padding: 2rem;
            
            text-align: center;
            a {
                text-decoration: none;
                color: var(--text);
                font-weight: 700;
                padding: .5rem;

                &:hover {
                    border-bottom: 1px solid black;
                }
                
                &:first-child {
                    margin-left: 3rem;
                }
              
            }
        }
    }

    button {
        width: 43.7rem;
        height: 100%;
        background: var(--footer);
        background-image: url(/assets/icon-arrow.svg);
        background-repeat: no-repeat;
        background-position-x: 80%;
        background-position-y: center;
        color: white;
        text-align: center;
        font-size: 2.4rem;
        text-transform: uppercase;
        font-weight: 700;
        cursor: pointer;
    }
}